chardet==2.3.0
command-not-found==0.3
Django==1.11.4
language-selector==0.1
Markdown==2.6.11
pycurl==7.43.0
Pygments==2.2.0
pygobject==3.20.0
PyMySQL==0.8.0
python-apt==1.1.0b1
python-debian==0.1.27
python-systemd==231
pytz==2018.3
requests==2.9.1
six==1.10.0
ssh-import-id==5.5
ufw==0.35
unattended-upgrades==0.1
urllib3==1.13.1
virtualenv==15.1.0
